@use "src/shared/styles/mixins" as m;

.password_input_container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-block: calc(0.75rem - 1px);
    &__button {
        @include m.buttonToLink;
        &:focus,
        &:hover {
            & path {
                stroke: var(--font-dark-color);
            }
        }
    }
}
