.advertisement_type_select {
    & > header {
        min-height: 2rem;
    }
    &__head {
        display: flex;
        flex-direction: column;
        gap: calc(0.125rem + 1px);
    }
    &__label {
        color: var(--primary-gray-color);
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__name {
        color: var(--content-black-color);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
