$white-color: #fff;
$black-color: #000;
$background-color: #f6f7f8;
$content-black-color: #121212;
$primary-gray-color: #777;
$primary-border-color: #dddfe0;
$primary-yellow-color: #ffde31;
$info-blue-color: #2c80ff;

$container-breakpoints: (
    "tablet": 48em,
    "mobile": 28.125em,
);

$letter-spacing-1: -0.01em;
$letter-spacing-2: -0.02em;
$letter-spacing-3: -0.03em;
$letter-spacing-4: -0.04em;
$letter-spacing-5: -0.05em;
